/* VARIABLES */
:root{
    --color-principal:#fff;
    --color-secundary:#329153;
    --color-bg-navbar:#333946;
    --color-bg-footer:#222222;
    --color-bg-footer-dowm:#111111;
    --color-border-list:rgba(255, 255, 255, 0.3);
    --color-hover-subist-item:rgba(0, 0, 0, 0.05);
    --color-shadow:rgba(0, 0, 0, 0.10);
    --color-bg-marquee:#EEEEEE;
    --color-text-marquee:#7c7c7c;
    --color-titles:#333333;
    --color-bg-aside:#F5f5f5;
    --color-twitter:#2FC2EF;
    --color-facebook:#4C66A4;
    --color-youtube:#CC181E;
    --color-instagram:#EA4C89;
    --color-linkeding:#F4A62A;
}

/*MENU MOVIL*/


/* quitamos los submenus para que no sagan si no es en responsive */
.navbar__mobile-btn{
    display: none;
}
.navbar__mobile-list{
    display: none;
}

@media (max-width: 1024px){
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTRUCTURA Y LAYOUT */
    .layout{
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        grid-template-areas: 
            "header header"
            "nav nav"
            "marquee marquee"
            "slider slider"
            "high high"
            "video video"
            "carousel carousel"
            "main  main"
            "aside aside"
        ;
    }



    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS HEADER CABECERA */

    .layout__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



    
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS NAVEGACION NAV */

    /* quitamos el menus para que no sagan es responsive */
    .navbar__list{
        display: none;
    }

    /*MENU MOVIL*/
    .navbar__mobile-btn{
        display: flex;
        background-color: var(--color-secundary);
        padding: 0.8rem 1.3rem;
        height: 5rem;
        display: flex;
        align-items: center;
    }

    .navbar__mobile-btn .fa-solid{
        cursor: pointer;
        color: var(--color-principal);
        font-size: 2.7rem;
    }

    .navbar__mobile-list{
        display: none;
        position: absolute;
        padding: 1.5rem;
        top: 100%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 99;
    }

    .mobile-list__item{
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);
    }

    .mobile-list__item:last-child{
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: none;
    }

    .mobile-list__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__link{
        display: block;
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: var(--color-principal);
    }

    .mobile-list__icon{
        cursor: pointer;
    }

    .mobile-list__icon .fa-solid{
        color: var(--color-secundary);
        font-size: 1.6rem;
        font-weight: bold;
    }

    /*SUB MENU MOVIL*/
    .mobile-list__msubmenu{
        display: none;

    }

    .msubmenu__item{
        padding-left: 4rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .msubmenu__link{
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
        color: var(--color-principal);
        text-transform: uppercase;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS SLIDER */
    .layout__slider{
        grid-template-areas: "slider1  slider3 slider3 slider3"
                            "slider2 slider3 slider3 slider3"
                            "slider4 slider4 slider5 slider5";
    }

    .slider__container--slider5{
        width: 100%;
        height: 23.6rem;
    }

    .slider__container--slider4{
        width: 100%;
        height: 23.6rem;
    }

    .slider__container--slider3{
        width: 100%;
        height: 30.3rem;
    }

    .slider__container--slider2{
        width: 100%;
        height: 15rem;
    }

    .slider__container--slider1{
        width: 100%;
        height: 15rem;
    }



    
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS MEJORES MOMENTOS*/
    .highlights__posts
    {
        flex-wrap: wrap;
    }

    .highlights__post
    {
        width: calc(50% - 1.5rem);
        border-bottom: 1px solid var(--color-text-marquee);
    }

    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS VIDEOS*/

    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .videos__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        margin-top: 1rem;
    }

    .videos__video{
        width: calc(50% - 1rem);
    }

    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS HIGH CARUSEL*/
    .carousel-games__item--hidden{
        display: none;
    }

    .carousel-games__item{
        width: 100%;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS MAIN*/
    .layout__main{
        grid-area: main;
        margin-right: 0rem;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS ASIDE*/
    .layout__aside{
        margin-bottom: 6rem;
    }

    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS FOOTER*/


    .footer__container{
        width: 70%;
        min-width: 70rem;
        flex-direction: column;

    }

    .footer__left-container,
    .footer__center-container, 
    .footer__right-container{
        flex-basis: 100%;
    }


    .footer__fslider{
        width: auto;
        height: auto;
    }

}



@media (max-width: 775px){
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTRUCTURA Y LAYOUT */
    .layout{
        width: 54%;
        min-width: 57rem;
        margin: 0 auto;
        grid-template-areas: 
            "header header"
            "nav nav"
            "marquee marquee"
            "slider slider"
            "high high"
            "video video"
            "carousel carousel"
            "main  main"
            "aside aside"
        ;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS SLIDER */

    .slider__container--slider5{
        width: 100%;
        height: 18rem;
    }

    .slider__container--slider4{
        width: 100%;
        height: 18rem;
    }

    .slider__container--slider3{
        width: 100%;
        height: 24.5rem;
    }

    .slider__container--slider2{
        width: 100%;
        height: 12rem;
    }

    .slider__container--slider1{
        width: 100%;
        height: 12rem;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS FOOTER*/

    .footer__container{
        width: 54%;
        min-width: 57rem;
    }

}


@media (max-width: 592px){
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTRUCTURA Y LAYOUT */
    .layout{
        width: 85% ;
        min-width: 35rem;
        margin: 0 auto;
        grid-template-areas: 
            "header header"
            "nav nav"
            "marquee marquee"
            "slider slider"
            "high high"
            "video video"
            "carousel carousel"
            "main  main"
            "aside aside"
        ;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS SLIDER */

    .layout__slider{
        grid-template-areas: "slider1  slider1 slider1 slider1"
                            "slider2 slider2 slider2 slider2"
                            "slider3 slider3 slider3 slider3"
                            "slider4 slider4 slider4 slider4"
                            "slider5  slider5 slider5 slider5";
        column-gap: 0;
        grid-template-columns: 100%;
    }

    .slider__container--slider5{
        width: 100%;
        height: auto;
    }

    .slider__container--slider4{
        width: 100%;
        height: auto;
    }

    .slider__container--slider3{
        width: 100%;
        height: auto;
    }

    .slider__container--slider2{
        width: 100%;
        height: auto;
    }

    .slider__container--slider1{
        width: 100%;
        height: auto;
    }
    
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS MEJORES MOMENTOS*/
    .highlights__posts
    {
        flex-wrap: wrap;
    }

    .highlights__post
    {
        width: 100%;

    }

    
    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS VIDEOS*/

    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .videos__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
    }

    .videos__video{
        width: 100%;
    }

    .main-video__yt-video{
        height: 20rem;
    }

    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS MAIN*/

    /* ESTILO NOTICIAS */
    .news__main-post{
        flex-direction: column;
    }
    
    .news__list{
        flex-direction: column;
    }

    .news__post{
        width: 100%;
    }

    /* ESTILO JUEGOS */
    .games__container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3rem;
}

    .games__game{
        position: relative;
        flex-basis: 100%;
    }

    /* ULTIMOS ARTICULOS */
    .posts__container{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .posts__post
    {
        width: 100%;
    }


    /* _________________________________________________________________________________________________________________ */
    /* _________________________________________________________________________________________________________________ */
    /* ESTILOS FOOTER*/

    .footer__container{
        width: 85%;
        min-width: 27rem;
    }



}